/* --------------------------  Mobile Responsive Design  -------------------------- */
@media (max-width: 395px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  .bgimg {
    display: none;
  }

  .abgimg {
    z-index: -1;
    position: fixed;
    top: 0;
    right: -100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .abgimg img {
    height: 100vh;
  }

  .mbgimg {
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .mbgimg img {
    /* width: 100vw; */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    padding: 20px 25px;
    display: flex;
  }

  .logo {
    display: flex;
    text-decoration: none;
    color: #fff;
  }

  .logo h4 {
    font-size: 30px;
    padding-top: 2px;
  }

  .navMain {
    position: absolute;
    right: 0;
    padding-right: 20px;
  }

  .openbtn {
    width: 40px;
    outline-style: none;
    border-style: none;
    background: none;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
  }

  .closebtn {
    position: absolute;
    top: 0%;
    right: 13%;
    font-size: 70px;
    color: #000;
    font-size: 60px;
    text-decoration: none;
  }

  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidebar ul li {
    padding-top: 60px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #000000;
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: #fff;
    background-color: #000;
  }

  .alert {
    display: none;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.6);
    color: #fff;
    padding: 10px 0;
    margin: 0 4%;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
  }

  .closeAlert {
    float: right;
    margin-right: 10px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    margin-top: -20px;
  }

  .search {
    text-align: center;
    padding: 10px 0;
    margin-left: 10px;
  }

  .search input {
    border-style: none;
    outline-style: none;
    background-color: #fff;
    padding: 10px 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
  }

  .geoloc {
    border-style: none;
    outline-style: none;
    background: transparent;
    font-size: 35px;
    position: relative;
    top: 6px;
    padding: 0 10px;
  }

  .geoloc i {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
  }

  .data {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px 8%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }

  .location {
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 0.5px;
  }

  .deg {
    float: right;
    margin: -60px -10px 0 0;
  }

  .deg button {
    background: transparent;
    outline-style: none;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 4px 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .tempValue {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
  }

  .tempDesc {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
  }

  .descMain {
    padding: 15px 0;
  }

  .moreData {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 20px 8%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  .moreData p {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
  }

  .sec1 {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    text-align: left;
  }

  .sec2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: left;
    margin-top: 10%;
    margin-left: -5px;
  }

  .lon,
  .lat,
  .sunUp,
  .sunDown,
  .minTemp,
  .maxTemp,
  .press,
  .humid,
  .windSpd,
  .windDir {
    color: #fff;
    margin: 15px 0;
    /* border-radius: 10px; */
  }

  .lon {
    position: relative;
    left: -2px;
  }

  .lat {
    position: relative;
    right: 20px;
  }

  .sunUp {
    position: relative;
    right: 17px;
  }

  .sunDown {
    position: relative;
    right: 23px;
  }

  .minTemp {
    position: relative;
    right: 12px;
  }

  .maxTemp {
    position: relative;
    right: 19px;
  }

  .press {
    position: relative;
    right: 16px;
  }

  .humid {
    position: relative;
    right: 16px;
  }

  .windSpd {
    position: relative;
    right: 20px;
  }

  .windDir {
    position: relative;
    right: 18px;
  }

  .lon p {
    margin-left: 8px;
  }

  .humid p {
    margin-left: 6px;
  }

  .sec1 i,
  .sec2 i {
    display: flex;
    padding: 22px 0;
    /* padding: 15px 20px 8px 20px; */
  }
  .sec1 i p,
  .sec2 i p {
    /* color: #000; */
    position: relative;
    font-size: 16px;
  }

  footer {
    text-align: center;
    padding: 50px 0;
  }

  footer p {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000;
    color: #fff;
    letter-spacing: 1px;
  }

  /* ---------- About CSS ---------- */
  .contain {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 100px 5%;
    border-radius: 10px;
    padding: 20px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6% 0;
    padding: 2%;
    transition: 0.4s ease-in-out;
  }

  .intro p {
    padding: 2%;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5%;
    color: #fff;
  }

  .intro a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 1% 4%;
    border-radius: 0px 55px 10px 35px;
    background-color: #fff;
    color: #000;
    box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .intro a i {
    padding-top: 3%;
  }

  .social {
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
    padding: 2% 0;
  }

  .social a {
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
  }

  #f {
    padding: 10px;
    color: #0251fc;
  }

  #i {
    padding: 10px 12px;
    color: #ff0055;
  }

  #t {
    padding: 10px;
    color: #00acee;
  }

  .footerA {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 40%;
    text-align: center;
  }

  .footerA p {
    padding-top: 6%;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000;
    color: #fff;
    letter-spacing: 1px;
  }
}
